<div *ngIf="operatorScreen" class="component ur-column">
    <div class="ur-column ur-justify-center ur-align-center" style="height:60px; width:1120px; margin: 10px; background-color: var(--color-background-level-03); box-shadow:
        var(--shadow-02); border-radius: var(--border-radius-medium);">
        <ur-heading type="h1" size="'small'">Custom operator screen example - Alumotion collaborate 2025</ur-heading>
    </div>
    <div class="component ur-row">
        <div class="ur-column" style="height:550px; width:300px; background-image: url('/ur/alumotionscreen/alumotionscreen-frontend/assets/ProfeederImage.png'); 
        background-size: 300px; background-repeat: no-repeat; margin: 10px; background-color: var(--color-background-level-03); 
        box-shadow: var(--shadow-02); border-radius: var(--border-radius-medium);">
        </div>
        <div class="ur-column" style="height:550px; width:480px; margin: 10px; background-color: var(--color-background-level-03); 
        box-shadow: var(--shadow-02); border-radius: var(--border-radius-medium);">
            <ur-expansion-panel expanded="true" hideToggle="true">
                <ur-expansion-panel-header>Cassetti Profeeder</ur-expansion-panel-header>
                <ur-expansion-panel-item>
                    <ur-label label="1" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
                <ur-expansion-panel-item>
                    <ur-label label="2" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
                <ur-expansion-panel-item>
                    <ur-label label="3" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
                <ur-expansion-panel-item>
                    <ur-label label="4" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
                <ur-expansion-panel-item>
                    <ur-label label="5" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
                <ur-expansion-panel-item>
                    <ur-label label="6" size="large"></ur-label>
                    <ur-checkbox></ur-checkbox>
                    <ur-dropdown label="Formato" placeholder="- Select -"></ur-dropdown>
                    <ur-label label="Pezzi lavorati: 0/0" size="medium"></ur-label>
                </ur-expansion-panel-item>
            </ur-expansion-panel>

            <ur-expansion-panel expanded="true" hideToggle="true">
                <ur-expansion-panel-header>Formati</ur-expansion-panel-header>
                <ur-expansion-panel-item class="ur-justify-left">
                    <ur-button icon="plus" size="large" type="text">Aggiungi formato</ur-button>
                </ur-expansion-panel-item>
            </ur-expansion-panel>
        </div>
        <div class="ur-column" style="height:550px; width:300px;
        background-repeat: no-repeat; margin: 10px; background-color: var(--color-background-level-03); box-shadow: var(--shadow-02); 
        border-radius: var(--border-radius-medium);">
        </div>
    </div>
</div>